@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Encode+Sans+Semi+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product{
    transition: all 0.3s ease-in-out ;
    -webkit-transition: all 0.3s ease-in-out ;
    -moz-transition: all 0.3s ease-in-out ;
    -ms-transition: all 0.3s ease-in-out ;
    -o-transition: all 0.3s ease-in-out ;
}



.product:hover
{
    box-shadow: 0px 0px 5px  var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.text-rating
{
    color: var(--rating-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.loading {
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 64545;
}

.img1{
    height: 400px;
}
.smallImg{
    height: 200px;
}

.network{
    z-index: 5564545645;
}
.cursor-pointer{
cursor: pointer;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center ;
  z-index: 2321;
}
.mainImg{
  height: 600px;
}
.subimg{
  height: 300px;
}

.smallImg{
    height: 200px;
}

.imgBox{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.cart, .wishlist{
    min-height: 30vh;
}

.categoryImgBox img{
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}   

.category{
    border: 1px solid rgb(179, 179, 179) ;
    border-radius: 10px;
    transition: all 0.3s ease-in-out ;
    -webkit-transition: all 0.3s ease-in-out ;
    -moz-transition: all 0.3s ease-in-out ;
    -ms-transition: all 0.3s ease-in-out ;
    -o-transition: all 0.3s ease-in-out ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.category:hover
{
    box-shadow: 0px 0px 5px  var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}